/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
.el-tag {
  background-color: #e7e9f5;
  border-color: #cfd3ec;
  color: #10239e;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #10239e;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap; }
  .el-tag.is-hit {
    border-color: #10239e; }
  .el-tag .el-tag__close {
    color: #10239e; }
    .el-tag .el-tag__close:hover {
      color: #FFFFFF;
      background-color: #10239e; }
  .el-tag.el-tag--info {
    background-color: #f4f4f4;
    border-color: #e8e8e8;
    color: #8c8c8c; }
    .el-tag.el-tag--info.is-hit {
      border-color: #8c8c8c; }
    .el-tag.el-tag--info .el-tag__close {
      color: #8c8c8c; }
      .el-tag.el-tag--info .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #8c8c8c; }
  .el-tag.el-tag--success {
    background-color: #eef9e8;
    border-color: #dcf3d1;
    color: #52c41a; }
    .el-tag.el-tag--success.is-hit {
      border-color: #52c41a; }
    .el-tag.el-tag--success .el-tag__close {
      color: #52c41a; }
      .el-tag.el-tag--success .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #52c41a; }
  .el-tag.el-tag--warning {
    background-color: #fffbe8;
    border-color: #fef8d0;
    color: #fadb14; }
    .el-tag.el-tag--warning.is-hit {
      border-color: #fadb14; }
    .el-tag.el-tag--warning .el-tag__close {
      color: #fadb14; }
      .el-tag.el-tag--warning .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #fadb14; }
  .el-tag.el-tag--danger {
    background-color: #fee9ea;
    border-color: #fdd3d5;
    color: #f5222d; }
    .el-tag.el-tag--danger.is-hit {
      border-color: #f5222d; }
    .el-tag.el-tag--danger .el-tag__close {
      color: #f5222d; }
      .el-tag.el-tag--danger .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #f5222d; }
  .el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px; }
    .el-tag .el-icon-close::before {
      display: block; }
  .el-tag--dark {
    background-color: #10239e;
    border-color: #10239e;
    color: white; }
    .el-tag--dark.is-hit {
      border-color: #10239e; }
    .el-tag--dark .el-tag__close {
      color: white; }
      .el-tag--dark .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #404fb1; }
    .el-tag--dark.el-tag--info {
      background-color: #8c8c8c;
      border-color: #8c8c8c;
      color: white; }
      .el-tag--dark.el-tag--info.is-hit {
        border-color: #8c8c8c; }
      .el-tag--dark.el-tag--info .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #a3a3a3; }
    .el-tag--dark.el-tag--success {
      background-color: #52c41a;
      border-color: #52c41a;
      color: white; }
      .el-tag--dark.el-tag--success.is-hit {
        border-color: #52c41a; }
      .el-tag--dark.el-tag--success .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #75d048; }
    .el-tag--dark.el-tag--warning {
      background-color: #fadb14;
      border-color: #fadb14;
      color: white; }
      .el-tag--dark.el-tag--warning.is-hit {
        border-color: #fadb14; }
      .el-tag--dark.el-tag--warning .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #fbe243; }
    .el-tag--dark.el-tag--danger {
      background-color: #f5222d;
      border-color: #f5222d;
      color: white; }
      .el-tag--dark.el-tag--danger.is-hit {
        border-color: #f5222d; }
      .el-tag--dark.el-tag--danger .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #f74e57; }
  .el-tag--plain {
    background-color: white;
    border-color: #9fa7d8;
    color: #10239e; }
    .el-tag--plain.is-hit {
      border-color: #10239e; }
    .el-tag--plain .el-tag__close {
      color: #10239e; }
      .el-tag--plain .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #10239e; }
    .el-tag--plain.el-tag--info {
      background-color: white;
      border-color: #d1d1d1;
      color: #8c8c8c; }
      .el-tag--plain.el-tag--info.is-hit {
        border-color: #8c8c8c; }
      .el-tag--plain.el-tag--info .el-tag__close {
        color: #8c8c8c; }
        .el-tag--plain.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #8c8c8c; }
    .el-tag--plain.el-tag--success {
      background-color: white;
      border-color: #bae7a3;
      color: #52c41a; }
      .el-tag--plain.el-tag--success.is-hit {
        border-color: #52c41a; }
      .el-tag--plain.el-tag--success .el-tag__close {
        color: #52c41a; }
        .el-tag--plain.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #52c41a; }
    .el-tag--plain.el-tag--warning {
      background-color: white;
      border-color: #fdf1a1;
      color: #fadb14; }
      .el-tag--plain.el-tag--warning.is-hit {
        border-color: #fadb14; }
      .el-tag--plain.el-tag--warning .el-tag__close {
        color: #fadb14; }
        .el-tag--plain.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #fadb14; }
    .el-tag--plain.el-tag--danger {
      background-color: white;
      border-color: #fba7ab;
      color: #f5222d; }
      .el-tag--plain.el-tag--danger.is-hit {
        border-color: #f5222d; }
      .el-tag--plain.el-tag--danger .el-tag__close {
        color: #f5222d; }
        .el-tag--plain.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #f5222d; }
  .el-tag--medium {
    height: 28px;
    line-height: 26px; }
    .el-tag--medium .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px; }
    .el-tag--small .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px; }
    .el-tag--mini .el-icon-close {
      margin-left: -3px;
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }
